@model Locadora.Application.DTOs.FilmeDTO

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<div>
    <h4>@Model.Titulo</h4>
    <br />
    <dl class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    <div>
        <img src="@Url.Action("ObterCapa", "Filme", new {  id = Model.Id  })" width="200" height="300" style="border-radius: 5px;" />
    </div>
    <br />
    <div>
        <a class="btn btn-outline-secondary btn-sm" asp-action="Index">Voltar</a>
        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    </div>
</div>

