@model IEnumerable<Locadora.Application.DTOs.FilmeDTO>

@{
    ViewData["Title"] = "Index";
}

<main class="container">
    <div class="row">
        <a class="btn btn-primary btn-sm" asp-controller="Filme" asp-action="Create">Cadastrar Filme</a>
    </div>
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 m-lg-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static" style="align-items: center;">
                        <img src="@Url.Action("ObterCapa", "Filme", new { id = item.Id })" width="150" height="200" style="border-radius: 5px;" />
                    </div>
                    <div class="col p-4 d-flex flex-column position-static" style="align-items: center;">
                        <strong class="d-inline-block mb-2 text-primary">@item.Titulo</strong>
                        <p class="card-text mb-auto">@item.Descricao</p>
                    </div>
                    <div class="col p-4 d-flex flex-row position-static" style="align-items: center;">
                        <a class="btn btn-outline-secondary btn-sm m-1" asp-controller="Filme" asp-action="Details" asp-route-id="@item.Id">
                            Detalhes
                        </a>
                        <a class="btn btn-outline-primary btn-sm m-1" asp-controller="Filme" asp-action="Edit" asp-route-id="@item.Id">
                            Editar
                        </a>
                        <a class="btn btn-outline-danger btn-sm m-1" asp-controller="Filme" asp-action="Delete" asp-route-id="@item.Id">
                            Deletar
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</main>